---
title: Resources
display-title: false
active: true
layout: simple_default
permalink: /resources
hero-image: /assets/img/page-images/P8210015.JPG
hero-image-alt: Mountains
hero-image: /assets/img/page-images/unsplash-headwayio-1.jpg
hero-image-alt: Person working on a laptop
hero-text: Resources
---
<div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
{% for resource in site.resources %}
<div class="col">
  <article class="card h-100">
    <div class="card-body">
      <h2 class="card-title h5"><a href="{{ resource.url }}">{{ resource.title }}</a></h2>
      <p class="card-text">{{ resource.excerpt }}</p>
    </div>
  </article>
</div>
{% endfor %}
</div>

{% include cta.html %}


