<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <!--<li class="nav-item"><a class="nav-link" href="/about">About</a></li>-->
    <li class="nav-item"><a class="nav-link" href="/framework">Framework</a></li>
    <li class="nav-item"><a class="nav-link" href="/projects">Recent projects</a></li>
    <li class="nav-item"><a class="nav-link" href="/resources">Resources</a></li>
    <li class="nav-item"><a class="nav-link" href="/articles">Articles</a></li>
    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
</ul>