

:root:not([data-theme=dark]),[data-theme=light] {
  --pico-secondary-background: #b03030;

}

html {
    scroll-padding-top: 4rem;
  }

  blockquote {
    
   /* font-family:Georgia, "Times New Roman", Times, serif; */
   
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote div.quote {
  float:left;
  margin-right: var(--pico-spacing);
}

blockquote div.quotetext {
  display: block;
  overflow: hidden;
}

blockquote p {
  display: inline;
}


blockquote p:before { 
  content: open-quote;
  font-weight: bold;
  font-size:25px;
  line-height: 110%;
  margin-right: 3px;
color:var(--pico-muted-color);
} 

blockquote p:after { 
  content: close-quote;
  font-weight: bold;
  font-size:25px;
  line-height: 110%;
  margin-left:3px;
  color:var(--pico-muted-color);
  } 


/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  

  /* Set a specific height */
  height: 50vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image img {
  position: relative;
  top: 0;
  left: 0;
  z-index: -999;
  height:100%;
  width:100%;
  object-fit:none;
}

/* Place text in the middle of the image */
.hero-text {
  /*text-align: left;*/
  position: absolute;
  top: 50%;
  /*left: 20%;*/
  transform: translate(0, -50%);
  width: 100%;
}

div.grid article {
  height: 95%;
}


article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

aside {
  float:right;
  width: 33%;
  margin: 0 0 var(--pico-spacing) var(--pico-spacing);
}

aside img {
  object-fit: contain;
}

div.container-75 {
    width: 70%; /* Fix for when using a right hand menu */
}

header#main-header {
    background: rgb(4,120,120);
    background: linear-gradient(90deg,
    var(--pico-primary) 0%,
    var(--pico-ins-color) 35%,
    var(--pico-primary) 100%);
      /*height: 4rem;*/
    /*background-repeat: repeat-y;*/
    padding: 1rem;
    width: 100%;
}

header#main-header p, header#main-header h1 {
  /*position: absolute;*/
  bottom: 0.1rem;
  right: 1rem;
  z-index: 9999;  
  
  color: var(--pico-primary-inverse);
  margin-bottom: 0;
}


header#main-header p a {
  color: var(--pico-primary-inverse);
}

header#main-header.headerHero {
  background: none;
  padding-block: 0;
  padding: 0;
}

div.hero-text h1 {
  padding-left: var(--pico-spacing);
  padding-top: var(--pico-spacing);
  padding-bottom: var(--pico-spacing);
  /*background-color: var(--pico-contrast);*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
}

div.grid>a:has(button) {
    margin-left: auto;
    margin-right: auto;
}

div#cta {
    margin-top: var(--pico-spacing);
    margin-bottom: var(--pico-spacing);
}

div.single-portfolio {
    width: 27%; /* fix for isotope */
}

div.button-group button.active {
    z-index: -10; /* Fix for menu button going over header */
}

footer {
    font-size: 80%;
}

footer h2 {
    font-size: 80%;
}

p.centred, article.centred {
    text-align: center;
}

footer>div.grid div:first-child {
    border-right: 1px solid var(--pico-muted-color);
    padding-right: var(--pico-spacing);
}

footer>div.grid div:last-child {
    border-left: 1px solid var(--pico-muted-color);
    padding-left: var(--pico-spacing);
}



body>header {
    /* usefule when "position: fixed" is turned-on */
    padding-top: 100px;
    /*height:180px;*/
  }

  nav#main-menu {
    /*border-bottom: 1px solid var(--pico-muted-color);*/
    border-bottom:none;
  }
  
  nav#main-menu.container {
      background-color: var(--pico-background-color);
    /*position: fixed;*/
    /* remove the 'flex-direction' to move menu to the right */
    /*flex-direction: row-reverse;*/
      z-index: 1;
      overflow: hidden;
      align-items: center;
  }
  
  nav :is(.menu-btn, .menu-icon) {
      display: none;
      cursor: pointer;
      user-select: none;
  }

nav[aria-label=breadcrumb] {
  background-color: var(--pico-code-background-color);
  padding:0 var(--pico-spacing);
  margin-bottom: var(--pico-spacing);
}

div.button-group {
    width: 100%;
    overflow-x: auto;
}

  .tag-link, .category-tag {
    background-color:var(--pico-ins-color);
    border: none;
    color:var(--pico-primary-inverse);
    font-size: calc(var(--pico-spacing)/1.75);
    padding: calc(var(--pico-spacing)/4) calc(var(--pico-spacing)/4) calc(var(--pico-spacing)/4) calc(var(--pico-spacing)/4);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: calc(var(--pico-spacing)/2) calc(var(--pico-spacing)/2) calc(var(--pico-spacing)/2) calc(var(--pico-spacing)/2);
    border-radius: 3px;
  }

  article.tool h2 {
    font-size: var(--pico-spacing);
    margin-bottom: var(--pico-spacing);
}

aside.floating-menu {
    float:right;
    top: 8rem;
    right: calc(4*var(--pico-spacing));
    width: 25%;
    margin-bottom: var(--pico-spacing);
    background-color: var(--pico-background-color);
    filter: drop-shadow(2px 3px 2px var(--pico-primary-background));
}

aside.floating-menu {
  padding-inline-start: var(--pico-spacing);
}

footer aside, aside.list {
  float:none;
  width: inherit;
  margin: inherit;
}




article.expertise {
  height: 97%;
}

article.expertise header {
  height: 40vh;
  position: relative;
  padding: 0;
}

article.expertise header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p.img-credit {
  position: absolute;
  min-height: auto;
  right: 0;
  bottom: 0;
  background-color: #373c44bb;
  color: var(--pico-contrast-inverse);
  font-size: calc(var(--pico-font-size)/2);
  padding: calc(var(--pico-spacing)/4);
  text-align: right;
  margin-bottom: 0;
}

p.img-credit a {
  color: var(--pico-contrast-inverse);
  text-decoration-color: var(--pico-contrast-inverse);
}

p.img-credit a:hover {
  color: var(--pico-muted-border-color);
}

div.banner {
  margin: 0;
  height: 20vw;
  overflow: hidden;
  position: relative;
}

div.banner img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

details summary h2, details summary h3 {
  display:inline;
}

div.book-cover {
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}

div.book-cover img {
  border:solid 1px #000;
  margin-bottom: 0.5rem;
  width: 100%;
  }

div.book-cover a {
  display: block;
}

table.dataTable span.dt-column-title[role=button], div.dt-paging button  {
  all: revert;
}


/* MOBILE VIEW */

  @media (width < 48em) {
    body>header {
       padding-top: 120px;
       /*height: 180px;*/
      }
    header#main-header {
        box-sizing: inherit;
        width:100%;
        /*height: 2rem;*/
        padding: 1rem;
    }
    .headerimg {
      height: 15vh;
      margin-bottom: 0.5rem;
    }
    .headerimg img {
      margin-top:-15vh;
    }
    .hero-text p {
      text-align: center;
    }
    aside {
      float:none;
      width: 100%;
      margin: var(--pico-spacing) 0 var(--pico-spacing) 0;
    }


    div.container-75 {
        width: 100%;
    }
      nav#main-menu.container {
        font-size: 1.7rem;  
        flex-wrap: wrap;
          & .menu-icon {
              display:block;
          }
          & >ul.menu {
              flex-direction: column;
              align-items:flex-start;
              width: 100%;
              max-height: 0;
              transition: max-height 0.3s ease-out;
        box-shadow: 0px 3px 8px;
        margin: 10px 10px;
        background-color: var(--pico-background-color);
        & li {
          width: 100%;
        }
        & a {
          display: block;
        }
        & a:hover {
          background-color: var(--pico-primary-hover-background);
        }
          }
      & .menu-btn:checked ~ .menu {
        max-height: 100vh;
      }
      }
      footer>div.grid div:first-child {
        border-right: none;
        padding-right: inherit;
    }
    article.expertise {
      height: auto;
    }
    
    
    footer>div.grid div:last-child {
        border-left: none;
        padding-left: inherit;
    }
    div.single-portfolio {
        width: 100%; /* fix for isotope */
    }
    aside.floating-menu {
        display:none;
    }
  }

