<!DOCTYPE html>
<html lang="en">
    {% include simple_head.html %}
    <body>

        {% include simple_nav.html %}

        {%- if page.hero-image -%}
        <header id="main-header" class="headerHero">
            <div class="hero-image">
                <img src="{{ page.hero-image }}" alt="{{ page.hero-image-alt }}">
                {%- if page.hero-text -%}
                <div class="hero-text">
                    <div class="container">
                        <h1>{{ page.hero-text }}</h1>
                    </div>
                </div>
                {%- endif -%}
            </div>
        </header>
        {%- else -%}
        <header id="main-header">
            <div class="container">
                <h1>{{ page.title }}</h1>
            </div>
        </header>
        {%- endif -%}

        <main class="container py-4">
            {{ content }}
            {%- if page.hide_signup != true -%}
            {%- include brevo-form.html -%}
            {%- endif -%}
        </main>

        <footer class="container">
            {% include simple_footer.html %}
        </footer>

        {% include scripts.html %}

    </body>
</html>
