---
layout: simple_default
---
<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/resources">Resources</a></li>
    <li><a href="/resources/standards">Standards</a></li>
    <li>{{ page.title }}</li>
  </ul>
</nav>

    <aside class="floating-menu">
    <h2>Related standards</h2>
      <nav>
    <ul>
      {%- assign standards = site.standards | where: "type", page.type | sort: "title" -%}
      {%- assign number_standards = standards | size -%}
      {%- if number_standards > 1 -%}
      {%- for standard in standards -%}
      {%- if page.url != standard.url -%}
      <li><a href="{{ site.baseurl }}{{ standard.url }}">{{ standard.title }}</a></li>
      {%- endif -%}
      {%- endfor -%}
      {%- else -%}
      <li>No related standards</li>
      {%- endif -%}
    </ul>
    </nav>
    </aside>
    <p>{{ page.title }} is {% if page.type == 'interoperability' %} an {% else %} a {% endif %} {{ page.type }}
      standard{% if page.aka %}, also known as: <strong>{{ page.aka }}</strong>.{% else %}. {% endif %}</p>

    <p>The <a href="{{ page.standard_url }}" target="_blank">{{ page.title }} documentation</a> is managed by {{
      page.owner }}, and was last updated in {{ page.last_updated }}.</p>

    {{ content }}

    {%- if page.type == 'interoperability' -%}

    <p>{{ page.purpose }}</p>

    {%- endif -%}

    <div class="grid">
      <div>
        <h2>Strengths</h2>

        <ul>
          {%- for strength in page.strengths -%}
          <li>{{ strength }}</li>
          {%- endfor -%}
        </ul>
      </div>
      <div>
        <h2>Limitations</h2>
        <ul>
          {%- for limitation in page.limitations -%}
          <li>{{ limitation }}</li>
          {%- endfor -%}
        </ul>
      </div>
    </div>

    <div class="centred">
      <a role="button" href="{{ page.standard_url }}" target="_blank">More information on the {{ page.title }}
        standard</a>
    </div>
  
  
    
  