---
layout: simple_default
---
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/articles">Articles</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
  </ol>
</nav>

<div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
{%- for post in site.tags[page.tag] -%}
<div class="col">
  <article class="card h-100">
    <div class="card-body">
      <h3 class="card-title h5"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p class="card-text">{{ post.excerpt }}</p>
    </div>
  </article>
</div>
{%- endfor -%}
</div>

<h2>Categories</h2>

{% assign tags = site.tags | sort %}
<div class="row row-cols-2 row-cols-md-4 g-2">
{%- for tag in tags -%}
<div class="col">
  <a href="/articles/{{ tag[0] | slugify }}">{{ tag[0] }}</a> ({{ tag[1] | size }})
</div>
{%- endfor -%}
</div>