---
layout: simple_default
---
<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/articles">Articles</a></li>
    <li>{{ page.title }}</li>
  </ul>
</nav>

{%- assign count = 0 -%}
{%- for post in site.tags[page.tag] -%}
{%- if count == 0 -%}

{%- endif -%}

<div class="grid">
  <article class="posts">
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p class="description">{{ post.excerpt }}</p>
  </article>
</div>

{%- assign count = count | plus: 1 -%}
{%- if count == 3 -%}

{%- assign count = 0 -%}
{%- endif -%}
{%- endfor -%}

<h2>Categories</h2>

{% assign tags = site.tags | sort %}
{% assign tagnumber = site.tags | size %}
{% assign count = 0 %}
{% assign halfcount = tagnumber | divided_by: 2 | plus: 1 %}

<div class="grid">
{%- for tag in tags -%}
{%- if count == 0 -%}
  <div>
{%- endif -%}
  
  <p><a href="/articles/{{ tag[0] }}">{{ tag[0] }}</a> ({{ tag[1] | size }})</p>
  

{% assign count = count | plus: 1 %}
{%- if count == halfcount -%}
  </div>
  {% assign count = 0 %}
{%- endif -%}
{%- endfor -%}
{%- if count != 0 -%}
  </div>
{%- endif -%}
</div>