---
layout: simple_default
---
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/toolkit">Toolkit</a></li>
    <li class="breadcrumb-item"><a href="/toolkit#{{ page.category | slugify }}">{{ page.category }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
  </ol>
</nav>

<div class="row g-4 mb-3">
  <div class="col-12 col-md-8">
    <h2>Summary</h2>
    <p>{{ page.description }}</p>
  </div>
  <div class="col-12 col-md-4">
    <img src="/assets/img/page-images/{{ page.img }}" alt="{{ page.img-alt }}" class="img-fluid">
    <p><small>Image credit: <a href="{{ page.img-url }}" target="_blank">{{ page.img-credit }}</a></small></p>
  </div>
</div>

<hr>
{{ content }}

<hr>

{%- assign toolcat = site.toolkit | where: "category", page.category -%}
{%- if toolcat.size >= 2 -%}
<h3>Related tools</h3>
<ul>
{%- for tool in site.toolkit -%}
{%- if tool.category == page.category -%}
{%- if tool.url != page.url -%}
<li><a href="{{ tool.url }}">{{ tool.title }}</a></li>
{%- endif -%}
{%- endif -%}
{%- endfor -%}
</ul>
{%- endif -%}

<hr>

{% include cta.html %}